Repository opendevstack/ods-provisioning-app, pull requests merged in 2020-11, with the labels that each got.

#629 Feature/gh 628 update to angular 10.2.3
  client/.browserslistrc
  client/package.json
  client/src/app/app.component.ts
  client/src/app/modules/app-form/components/form-base.component.spec.ts
  client/src/app/modules/app-form/directives/remove-whitespaces.directive.spec.ts
  client/src/app/modules/app-form/directives/remove-whitespaces.directive.ts
  client/src/app/modules/app-form/directives/uppercase.directive.spec.ts
  client/src/app/modules/app-form/directives/uppercase.directive.ts
  client/src/app/modules/browser/services/browser.service.ts
  client/src/app/modules/confirmation/components/confirmation.component.spec.ts
  client/src/app/modules/edit-mode/services/edit-mode.service.spec.ts
  client/src/app/modules/edit-mode/services/edit-mode.service.ts
  client/src/app/modules/loading-indicator/components/loading-indicator.component.spec.ts
  client/src/app/modules/logout/components/logout.component.spec.ts
  client/src/app/modules/new-project/components/new-project.component.html
  client/src/app/modules/new-project/components/new-project.component.spec.ts
  client/src/app/modules/project-page/components/header.component.spec.ts
  client/src/app/modules/project-page/components/header.component.ts
  client/src/app/modules/project-page/components/project-page.component.html
  client/src/app/modules/project-page/components/project-page.component.scss
  client/src/app/modules/project-page/components/project-page.component.ts
  client/src/app/modules/project-page/components/quickstarter-add.component.html
  client/src/app/modules/project-page/components/quickstarter-add.component.spec.ts
  client/src/app/modules/project-page/components/quickstarter-add.component.ts
  client/src/app/modules/project-page/components/quickstarter-list.component.spec.ts
  client/src/app/modules/project-page/components/quickstarter-list.component.ts
  client/src/app/modules/project-page/project-page.module.ts
  client/src/app/modules/project/project.module.ts
  client/src/app/modules/sidebar/components/sidebar.component.html
  client/src/app/modules/sidebar/components/sidebar.component.spec.ts
  client/src/app/modules/storage/storage.module.ts
  client/tsconfig.json
  client/tslint.json
  client/yarn.lock
Labels: dependencies, frontend-spa

#632 Feature/gh 631 update to angular 11
  client/.eslintrc.json
  client/angular.json
  client/package.json
  client/prettier.config.js
  client/src/app/app.component.spec.ts
  client/src/app/app.component.ts
  client/src/app/modules/about-page/about-page.module.ts
  client/src/app/modules/app-form/components/form-base.component.ts
  client/src/app/modules/app-form/directives/remove-whitespaces.directive.spec.ts
  client/src/app/modules/app-form/directives/uppercase.directive.spec.ts
  client/src/app/modules/app-form/validators/edit-project.validators.ts
  client/src/app/modules/app-form/validators/new-project.validators.ts
  client/src/app/modules/app-routing/app-routing.module.ts
  client/src/app/modules/browser/domain/cookie-builder.spec.ts
  client/src/app/modules/browser/domain/cookie-builder.ts
  client/src/app/modules/browser/domain/cookie.ts
  client/src/app/modules/browser/services/browser.service.spec.ts
  client/src/app/modules/browser/services/browser.service.ts
  client/src/app/modules/confirmation/components/confirmation.component.ts
  client/src/app/modules/edit-mode/services/edit-mode.service.ts
  client/src/app/modules/http-interceptors/http-request-interceptor.service.ts
  client/src/app/modules/http-interceptors/index.ts
  client/src/app/modules/logout/components/logout.component.ts
  client/src/app/modules/new-project/components/new-project.component.spec.ts
  client/src/app/modules/new-project/components/new-project.component.ts
  client/src/app/modules/notification/components/notification.component.ts
  client/src/app/modules/project-page/components/header.component.spec.ts
  client/src/app/modules/project-page/components/project-page.component.ts
  client/src/app/modules/project-page/components/quickstarter-add.component.ts
  client/src/app/modules/project-page/components/quickstarter-list.component.spec.ts
  client/src/app/modules/project-page/components/quickstarter-list.component.ts
  client/src/app/modules/project-page/project-page.module.ts
  client/src/app/modules/project-page/services/quickstarter.service.ts
  client/src/app/modules/project/project.module.ts
  client/src/app/modules/project/services/project.service.spec.ts
  client/src/app/modules/project/services/project.service.ts
  client/src/app/modules/sidebar/components/sidebar.component.spec.ts
  client/src/app/modules/sidebar/components/sidebar.component.ts
  client/src/app/modules/storage/services/storage.service.fallback.spec.ts
  client/src/app/modules/storage/services/storage.service.ts
  client/src/app/modules/storage/storage.module.ts
  client/src/app/tokens.ts
  client/src/test-config.helper.ts
  client/tslint.json
  client/yarn.lock
Labels: dependencies, frontend-spa

#636 Add default project groups to project groups on project creation
  CHANGELOG.md
  docs/modules/provisioning-app/pages/configuration.adoc
  src/main/java/org/opendevstack/provision/services/JenkinsPipelineAdapter.java
  src/main/resources/application-odsbox.properties
  src/test/java/org/opendevstack/provision/services/JenkinsPipelineAdapterTest.java
  src/test/resources/application-utest.properties
Labels: enhancement

#634 Refactor SPA Error Handling
  client/src/app/app.component.html
  client/src/app/app.module.ts
  client/src/app/domain/http-status-codes.ts
  client/src/app/modules/app-routing/app-routing.module.ts
  client/src/app/modules/error-handler/custom-error-handler.module.ts
  client/src/app/modules/error-handler/global-error-handler.ts
  client/src/app/modules/error-handler/http-request-interceptor.ts
  client/src/app/modules/general-error-page/components/general-error-page.component.html
  client/src/app/modules/general-error-page/components/general-error-page.component.spec.ts
  client/src/app/modules/general-error-page/components/general-error-page.component.ts
  client/src/app/modules/general-error-page/general-error-page.module.ts
  client/src/app/modules/http-interceptors/http-request-interceptor.service.spec.ts
  client/src/app/modules/http-interceptors/index.ts
  client/src/app/modules/new-project/components/new-project.component.ts
  client/src/app/modules/new-project/new-project.module.ts
  client/src/app/modules/project-page/components/project-page.component.html
  client/src/app/modules/project-page/components/project-page.component.ts
  client/src/app/modules/project-page/project-page.module.ts
  client/src/app/modules/project-page/services/quickstarter.service.ts
  client/src/app/modules/project/services/project.service.ts
  client/src/app/modules/sidebar/components/sidebar.component.html
  client/src/app/modules/sidebar/components/sidebar.component.spec.ts
  client/src/app/modules/sidebar/components/sidebar.component.ts
  client/src/app/modules/sidebar/sidebar.module.ts
  client/src/app/ui/scss/_layout.scss
Labels: frontend-spa
